.pagination{
    justify-content: center;
    position: fixed;
    width: 100%;
    display: flex;
}
li{
    margin:5px;
}
@media (max-width:900px){
    .maintable{
        width: 100%;
        font-size: 2vh;
        padding-top: 15px;
        display: contents;
    } 
    .moviename{
        font-size: 3vh;
    }
}